# Association rule learning with apriori
- finding commonalities between things
- target analysis and the relationship between beer and daipers
- netflix and recommender systems
- https://towardsdatascience.com/association-rules-2-aa9a77241654
- https://pypi.org/project/apyori/
- https://onlinelibrary.wiley.com/doi/full/10.1002/widm.1074
- python eclat

#### Three parts
- support(A -> B) = (AB)/(A+B)  
- confidence(A -> B) = (AB)/A 
- lift(A-> B) = c(AB)/s(B)

In [49]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori
#from fim import eclat

### read the dataset

In [14]:
df = pd.read_csv("Market_Basket_Optimisation.csv", header=None)
print(len(df))
len(df.keys())
df.head() #no header in the file, so set headers=None

7501

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### build the set of transactions

In [41]:
trxs = []
for i in range(0, len(df)):
    for j in range(0, len(df.keys())):
        trxs.append(str(df.values[i,j]))

### Set the rules
- min_support, the minimum support of a single object in the dataset (measure of frequency)
- min_confidence, percentage of rules being correct across the dataset (lower val yields better results)
- min_lift relevance and strength of a rule (0 to 10 are good values, start on the lower end)
- min_length minimum number of items in a set
- max_length max number of items in a set

In [55]:
rules = apriori(trxs, min_support=.005, min_confidence=.2, min_lift=3, min_length=2, max_length=7)

In [56]:
res = list(rules)
print(len(res))

5493

In [63]:
res[0]

RelationRecord(items=frozenset({' ', 'b'}), support=0.023070257299026797, ordered_statistics=[OrderedStatistic(items_base=frozenset({' '}), items_add=frozenset({'b'}), confidence=0.2512705096558734, lift=7.451196255895262), OrderedStatistic(items_base=frozenset({'b'}), items_add=frozenset({' '}), confidence=0.6841272978849575, lift=7.451196255895261)])

### With Eclat

In [50]:
#rules = eclat(tracts = trxs, zmin = 2)
#rules.sort(key = lambda x: x[1], reverse = True)

### Convert the dataset into a sparse matrix
- an n*m matrix, n is number of transactions, m is number of items
- cell (n,m) is 1 if the nth transaction contains the mth item
- TODO: Finish this part, the rest of the code works still just a different method

In [35]:
items = []
for i in range(0, len(df)):
    for j in range(0, len(df.keys())):
        item = df.values[i,j]
        if item not in items:
            items.append(item)

In [36]:
print(len(items))
print(items)

121
['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil', 'burgers', 'meatballs', 'eggs', nan, 'chutney', 'turkey', 'milk', 'energy bar', 'whole wheat rice', 'whole wheat pasta', 'french fries', 'soup', 'light cream', 'shallot', 'frozen vegetables', 'spaghetti', 'pet food', 'cookies', 'cooking oil', 'champagne', 'chocolate', 'chicken', 'oil', 'fresh tuna', 'tomatoes', 'black tea', 'extra dark chocolate', 'protein bar', 'red wine', 'pasta', 'pepper', 'shampoo', 'rice', 'sparkling water', 'ham', 'body spray', 'pancakes', 'grated cheese', 'white wine', 'toothpaste', 'parmesan cheese', 'fresh bread', 'ground beef', 'escalope', 'herb & pepper', 'tomato sauce', 'magazines', 'strawberries', 'strong cheese', 'pickles', 'cake', 'hot dogs', 'brownies', 'cereals', 'clothes accessories', 'bug spray', 'muffins', 'light mayo', 'gums', 'soda', 'cider', 'corn', 'yogurt cake', 'mint', 'butter', 'asparagus', 'french wine', 'salt', 'tea', 'barbecue sauce', 'mayonnaise', 'zucchini', 'carrots', 'mushroom cream sauce', 'candy bars', 'chili', 'mashed potato', 'nonfat milk', 'water spray', 'chocolate bread', 'mint green tea', 'eggplant', 'blueberries', 'bacon', 'fromage blanc', 'gluten free bar', 'dessert wine', 'flax seed', 'hand protein bar', 'sandwich', 'babies food', 'melons', 'cauliflower', 'green beans', 'ketchup', 'bramble', 'burger sauce', 'oatmeal', ' asparagus', 'cream', 'napkins']

[['mineral water', 'chocolate', 'avocado', 'eggs'],
 ['turkey', 'french fries', 'strawberries'],
 ['frozen vegetables', 'strong cheese', 'chocolate'],
 ['cookies'],
 ['pickles', 'spaghetti', 'salmon', 'escalope'],
 ['energy bar', 'french fries']]